body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

#temporizador {
    font-size: 5em;
    margin-bottom: 20px;
}

#barraProgreso {
    height: 20px;
    width: 100%;
    background-color: #ddd;
}

#barraProgreso div {
    height: 100%;
    width: 0%;
    background-color: #4CAF50;
}

#playPause, #siguienteTurno {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#siguienteTurno {
    background-color: red;
}

#selectorTiempo {
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    font-size: 0.8em;
}
