body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

#temporizador {
    font-size: 8em; /* Tamaño de fuente aumentado */
    margin-bottom: 20px;
}

#barraProgreso {
    height: 40px; /* Altura aumentada */
    width: 100%;
    background-color: #ddd;
}

#controles button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#siguienteTurno {
    font-size: 2em; /* Tamaño de fuente aumentado */
    width: 100%; /* Ancho completo */
    margin-top: 20px; /* Espaciado aumentado */
}

#selectorTiempo {
    margin-top: 20px;
}

footer {
    margin-top: 20px;
    font-size: 0.8em;
}
