body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

#temporizador {
    font-size: 6em;
    margin-bottom: 20px;
}

#barraProgreso {
    height: 240px;
    width: 100%;
    background-color: #ddd;
}

#controles button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
}

#siguienteTurno {
    font-size: 2em;
    height: 120px;
}

footer {
    margin-top: 20px;
    font-size: 0.8em;
    position: fixed; /* Hacer que el footer se quede fijo en la parte inferior */
    bottom: 0;
    left: 0;
    width: 100%;
}
