body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

#temporizador {
    font-size: 5em; /* Tamaño grande para el temporizador */
    margin-bottom: 20px;
}

#barraProgreso {
    height: 20px;
    width: 100%;
    background-color: #ddd;
}

#barraProgreso div {
    height: 100%;
    width: 0%;
    background-color: #4CAF50;
}

#playPause, #siguienteTurno {
    font-size: 1.5em; /* Botones más grandes y destacados */
    padding: 10px 20px;
    margin-top: 10px;
    background-color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#siguienteTurno {
    background-color: red; /* Color más destacado para 'Siguiente Turno' */
}
